## import read_csv from the pandas to read the data from csv file

In [1]:
from pandas import read_csv
import numpy

## store the data from csv file into the dataset variable and display describe

In [2]:
dataset = read_csv('test.csv', header=None)
print(dataset.describe())

               1           2           3          4
count     4.0000    5.000000    3.000000    2.00000
mean    447.7500   62.400000  810.000000  127.00000
std     525.3985   85.818413   57.861905  147.07821
min      23.0000    7.000000  768.000000   23.00000
25%     179.7500   23.000000  777.000000   75.00000
50%     277.5000   23.000000  786.000000  127.00000
75%     545.5000   45.000000  831.000000  179.00000
max    1213.0000  214.000000  876.000000  231.00000

## display out the first 5 data in dataset

In [3]:
print(dataset.head(5))

       0       1    2      3      4
0  apple  1213.0   23  876.0   23.0
1   sasi     NaN   23  786.0    NaN
2   pesi   323.0   45  768.0    NaN
3   cola   232.0    7    NaN  231.0
4    NaN    23.0  214    NaN    NaN

In [4]:
print((dataset[[1,2,3,4]] == 0).sum())

1    0
2    0
3    0
4    0
dtype: int64

## Remove the missing value data from the dataset variable

In [5]:
dataset[[1,2,3,4]] = dataset[[1,2,3,4]].replace(0, numpy.NaN)
dataset.dropna(inplace=True)
print(dataset.shape)

(1, 5)

In [6]:
print(dataset.head(5))

       0       1   2      3     4
0  apple  1213.0  23  876.0  23.0